@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<ApplicationRole> RoleManager
@{
    ViewBag.Title = "基本设置--用户管理";    
}

<table id="yonghu" class="easyui-datagrid" title="位置：基本设置>>用户管理" style="height:auto;">
    <thead>
        <tr>            
            <th data-options="field:'id',align:'center',width:'5%'" hidden>id</th> 
            <th data-options="field:'username',align:'center',width:'20%'">用户名</th>                       
            <th data-options="field:'mulu_access',align:'center',width:'20%'">项目范围</th>                       
            <th data-options="field:'role',align:'center',width:'30%'">角色</th>                       
            <th data-options="field:'phonenumber',align:'center',width:'20%'">联系电话</th>
            <th data-options="field:'claim',align:'center',width:'10%'" formatter="userPolicy">编辑权限</th>
        </tr>
    </thead>
</table>
<div id="toolbar">    
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="newUser()">新 增</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editUser()">编 辑</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editpassword()">重置密码</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="destroyUser()">删 除</a>
</div>

<div id="dlg" class="easyui-dialog" style="width:580px;height:400px;padding:10px 20px" data-options="closed:'true',buttons:'#buttons'">
    <div class="ftitle">用户设置</div>
    <form id="yonghu_fm" method="post" style="padding-left:10px" novalidate>
        <div class="fitem" hidden>
            <label>id:</label>
            <input name="id" id="id" class="easyui-textbox" data-options="icons:[]" style="width:380px;height:30px">
        </div>
        <div class="fitem" id ="username_div">
            <label>用户名:</label>
            <input name="username" id="username" class="easyui-textbox" data-options="icons:[],validType:'checknameissame'" style="width:380px;height:30px" required>
        </div>             
        <div class="fitem">
            <label>联系电话:</label>
            <input name="phonenumber" id="phonenumber" class="easyui-textbox" data-options="prompt:'0898-65884963或13198934567'" style="width:380px;height:30px">
        </div>
        <div class="fitem">
            <label>角色:</label>            
             <select id="role" name="role" class="easyui-combobox" style="width:380px;height:30px" data-options="editable:false,panelHeight:'auto'" required>
                @foreach (var item in ViewBag.role)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </div>      
        <div class="fitem" id="pw">
            <label>密码:</label>
            <input id="userpassword" name="password" type="password" class="easyui-textbox" data-options="icons:[],validType:'minLength[6]'" style="padding-left: 5px; width: 380px; height: 30px">
        </div>
        <div class="fitem" id="imf">
            <label></label>
            （若输入为空则默认为初始密码）
        </div>
        <div class="fitem" id="pw_cf">
            <label>确认密码:</label>
            <input name="confirmPassword" id="confirmPassword" type="password" class="easyui-textbox" style="padding-left: 5px; width: 380px; height: 30px" data-options="icons:[],validType:'equalTo[\'#userpassword\']'">
        </div>
    </form>
</div>
<div id="buttons" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" onclick="saveUser()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#dlg').dialog('close')" style="width:90px">取消</a>
</div>

@*用户重置初始化密码*@
<div id="stpaw_dlg" class="easyui-dialog" style="width:300px;height:200px;padding:10px 20px" data-options="closed:'true',buttons:'#stpaw_buttons'">
    <div class="ftitle">用户设置</div>
    <center>
        <form id="bmrestpaw_fm" method="post" novalidate>
            <strong>您确定要重置为默认密码吗？</strong>
        </form>
    </center>
</div>
<div id="stpaw_buttons" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" onclick="restpwd()" style="width:90px">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#stpaw_dlg').dialog('close')" style="width:90px">取消</a>
</div>

@*编辑用户可查看权限*@
<div id="dlg_calim" class="easyui-dialog" style="width:360px;height:250px;padding:10px 20px" data-options="closed:'true',buttons:'#calim_btns'">
    <div class="ftitle">用户权限</div>
    <center>
        <form id="calim_fm" method="post" novalidate>            
            <select id="calim_input" name="calim_input" class="easyui-combobox" style="width: 320px; height: 30px;" data-options="editable:false,multiple: true">
                @foreach (var item in ViewBag.mulu)
                {
                    <option value="@item">@item</option>
                }
            </select>
        </form>
    </center>
</div>
<div id="calim_btns" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" onclick="set_calim()" style="width:90px">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript: $('#dlg_calim').dialog('close')" style="width:90px">取消</a>
</div>

@section footer{
    <script type="text/javascript">
        var url;        
        $(function () {
            $("#yonghu").datagrid({
                singleSelect: true,
                async: false,
                collapsible: true,
                method: 'post',
                url: '/Account/Getuser',
                toolbar: '#toolbar',
                rownumbers: true,
                pagination: true,
                fitcolumns: true,
                nowrap: true,
                fit: true,
                autoRowHeight: false,
                queryParams: {                    
                }
            });

            //设置分页控件
            var p = $('#yonghu').datagrid('getPager');
            $(p).pagination({
                pageSize: 10,//每页显示的记录条数，默认为10
                pageList: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100],//可以设置每页记录条数的列表
                beforePageText: '第',//页数文本框前显示的汉字
                afterPageText: '页    共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            });

            $('#username').textbox().textbox('addClearBtn', 'icon-clear');            
            $('#userpassword').textbox().textbox('addClearBtn', 'icon-clear');
            $('#confirmPassword').textbox().textbox('addClearBtn', 'icon-clear');
            $('#phonenumber').textbox().textbox('addClearBtn', 'icon-clear');
        });

        //文本框有输入之后文本框末尾有删除符号出现
        $.extend($.fn.textbox.methods, {
            addClearBtn: function (jq, iconCls) {
                return jq.each(function () {
                    var t = $(this);
                    var opts = t.textbox('options');
                    opts.icons = opts.icons || [];
                    opts.icons.unshift({
                        iconCls: iconCls,
                        handler: function (e) {
                            $(e.data.target).textbox('clear').textbox('textbox').focus();
                            $(this).css('visibility', 'hidden');
                        }
                    });
                    t.textbox();
                    if (!t.textbox('getText')) {
                        t.textbox('getIcon', 0).css('visibility', 'hidden');
                    }
                    t.textbox('textbox').bind('keyup', function () {
                        var icon = t.textbox('getIcon', 0);
                        if ($(this).val()) {
                            icon.css('visibility', 'visible');
                        } else {
                            icon.css('visibility', 'hidden');
                        }
                    });
                });
            }
        });

        $.extend($.fn.validatebox.defaults.rules, {
            //检查名字是否雷同
            checknameissame: {
                validator: function (value, param) {
                    var name = value.trim();
                    var result = "";
                    $.ajax({
                        type: 'post',
                        async: false,
                        url: '/Account/CheckNameIsSame',
                        data: {
                            "name": name
                        },
                        success: function (data) {
                            result = data;
                        }
                    });
                    return result.indexOf("True") == 0;
                },
                message: '该名字已经被占用'
            },
            /*必须和某个字段相等*/
            equalTo: {
                validator: function (value, param) {
                    return $(param[0]).val() == value;
                },
                message: '两次输入的密码不一致喔！'
            },
            //验证密码输入至少为6位字符
            minLength: {
                validator: function (value, param) {
                    return value.length >= param[0];
                },
                message: '密码至少为6位字符或数字的组合！'
            },
            //验证手机或电话号码
            phoneRex: {
                validator: function (value) {
                    var rex = /^1[3-8]+\d{9}$/;
                    //var rex=/^(([0\+]\d{2,3}-)?(0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;
                    //区号：前面一个0，后面跟2-3位数字 ： 0\d{2,3}
                    //电话号码：7-8位数字： \d{7,8
                    //分机号：一般都是3位数字： \d{3,}
                    //这样连接起来就是验证电话的正则表达式了：/^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/		 
                    var rex2 = /^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;
                    if (rex.test(value) || rex2.test(value)) {
                        // alert('t'+value);
                        return true;
                    } else {
                        //alert('false '+value);
                        return false;
                    }
                },
                message: '请输入正确电话或手机格式'
            }
        });

        function newUser() {
            $('#dlg').dialog('open').dialog('setTitle', '新增用户');
            $('#username').textbox('enable', 'true');
            $('#pw').show();
            $('#pw_cf').show();
            $('#imf').show();
            $('#yonghu_fm').form('clear');
            url = '/Account/Adduser';
        };

        //用户编辑
        function editUser() {
            var row = $('#yonghu').datagrid('getSelected');
            if (row) {
                var id = row.Id;
                $('#dlg').dialog('open').dialog('setTitle', '编辑用户');
                $('#yonghu_fm').form('load', row);    

                $('#username').textbox('disable', 'true');

                @*$('#username').textbox('enable', 'true');                
                $('#username').textbox({
                    required: false                    
                });
                $('#username').textbox('disableValidation');                
                
                $('#username_div').hide();*@


                $('#pw').hide();
                $('#pw_cf').hide();
                $('#imf').hide();
                url = '/Account/Edituser?id=' + id + '';
            }
            else {
                $.messager.alert("错误提示", "请选择要编辑的行！", "warning");
            }
        };

        function editpassword() {
            var row = $('#yonghu').datagrid('getSelected');
            if (row) {
                var id = row.id;
                $('#stpaw_dlg').dialog('open').dialog('setTitle', '重置密码');
                url = '/Account/Setpwd?id=' +id;
            }
            else {                
                $.messager.alert("错误提示", "请选择要重置密码的用户！", "warning");
            }
        };

        //提交重置密码表单
        function restpwd() {
            $('#bmrestpaw_fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    $('#stpaw_dlg').dialog('close');		// close the dialog
                    result = JSON.parse(result);
                    if (result.success) {
                        $.messager.show({
                            title: '提示',
                            msg: result.msg
                        });
                        $('#yonghu').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误提示',
                            msg: result.msg
                        });
                    }
                }
            });
        };

        function saveUser() {
            $('#yonghu_fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {                    
                    result = JSON.parse(result);
                    $('#dlg').dialog('close');		// close the dialog
                    $('#yonghu').datagrid('reload');	// reload the user data
                    if (result.success == true) {
                        $.messager.show({
                            title: '提示',
                            msg: result.msg
                        });
                    } else {
                        $.messager.show({
                            title: '错误提示',
                            msg: result.msg
                        });
                    }
                }
            });
        };

        function destroyUser() {
            var row = $('#yonghu').datagrid('getSelected');
            if (row) {
                $.messager.confirm('提示', '您确定要删除该员工吗？', function (r) {
                    if (r) {
                        $.post('/Account/DelUser', { id: row.id }, function (result) {
                            if (result.success) {
                                $('#yonghu').datagrid('reload');	// reload the user data
                                $.messager.show({
                                    title: '提示',
                                    msg: result.msg
                                });
                            } else {
                                $.messager.show({
                                    title: '错误提示',
                                    msg: result.msg
                                });
                            }
                        }, 'json');
                    }
                });
            }
            else {
                $.messager.alert("错误提示", "请选择要删除的行！", "warning");
            }
        };

        //当字数太长，限定只显示前面一部分
        function TitleFormatter(value, row, index) {
            var value1 = value;
            if (value1 == null) {
                var ss = '<a href="#" title="' + value + '" class="easyui-tooltip"></a>';
                return ss
            }
            else {
                if (value1.length > 10) {
                    value1 = value1.substr(0, 10) + "...";
                }
                var ss = '<a href="#" title="' + value + '" class="easyui-tooltip">' + value1 + '</a>';
                return ss
            }
        };

        //编辑用户权限, 这的 index ，value  ，row 还真是不能去掉
        function userPolicy(index,value,row){
            var ss = '<a id="yg' + index + '" class="easyui-tooltip" href="javascript:vioid(0);" onclick="calim_edit()">权限</a>';                       
            return ss;
        };

        //打开对话框，可以编辑权限
        function calim_edit(){
            var row = $('#yonghu').datagrid('getSelected');
            var mulu = row.mulu_access;
            $('#dlg_calim').dialog('open').dialog('setTitle', '权限编辑');            
            //判断目录是否有值，没有就空 from 加载，有值就先加载 from 相当于编辑的加载

            $('#calim_fm').form('clear');

            @*if(mulu){
                if(mulu.indexOf(",")){     //权限目录，在记录中包含了多项，其中的项用符号“,”进行隔离
                    alert("dff")
                }else{
                    $('#calim_fm').form('load', row);
                }                             
            }else{
                $('#calim_fm').form('clear');                
            }*@   
            
            url = '/Account/Set_mulu_access?id='+row.id;
        };

        //提交权限编辑表单
        function set_calim() {
            $('#calim_fm').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {
                    $('#dlg_calim').dialog('close');		// close the dialog
                    result = JSON.parse(result);
                    if (result.success) {
                        $.messager.show({
                            title: '提示',
                            msg: result.msg
                        });
                        $('#yonghu').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '错误提示',
                            msg: result.msg
                        });
                    }
                }
            });
        };
    </script>

    <style type="text/css">
        #fm {
            margin: 0;
            padding: 10px 30px;
        }
        .ftitle {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }
        .fitem {
            margin: 10px;
        }
            .fitem label {
                display: inline-block;
                width: 80px;
            }
            .fitem input {
                width: 160px;
            }
    </style>
}
