@{
    var xm = ViewBag.xm; 
    ViewData["Title"] = @xm + "工地信息";
}

<table id="gongdi" class="easyui-datagrid" style="height:auto;width:100%">
    <thead>
        <tr>
            <th data-options="field:'id',align:'center',width:'5%'" hidden>id</th>            
            <th data-options="field:'gongdileixin',align:'center',width:'50%'">工地类型</th>                   
            <th data-options="field:'juli',align:'center',width:'45%'">工地距离（km）</th>                   
        </tr>
    </thead>
</table>
<div id="toolbar" style="height: 32px; padding: 2px 5px; background:#ddd;">    
    <div style="float: right">
        <input class="easyui-searchbox" data-options="prompt:'请输入车牌名称进行查询',searcher:doSearch" style="width:300px">
    </div>
    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="newgongdi()">新 增</a>
    </div>   
    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editgongdi()">编 辑</a>
    </div>
    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delgongdi()">删 除</a>
    </div>
</div>


<div id="dlg" class="easyui-dialog" style="width:800px;height:230px;padding:10px 20px" data-options="closed:'true',buttons:'#dlg-buttons'">
    <form id="fm" method="post" novalidate>
        <div class="fitem" hidden>
            <label>id:</label>
            <input id="id" name="id" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>工地类型:</label>
            <input id="gongdileixin" name="gongdileixin" class="easyui-textbox" data-options="icons:[]" style="width:550px;height:30px" required>
        </div>
        <div class="fitem">
            <label>工地距离:</label>
            <input id="juli" name="juli" class="easyui-textbox" data-options="icons:[],validType:'numeric'" style="width:550px;height:30px" required>
        </div>
              
    </form>
</div>
<div id="dlg-buttons" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" id="save_btn" onclick="savegongdi()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>


@section footer{
    <script type="text/javascript">
        var url,xm= '@ViewBag.xm';   
        $(function () {
            $("#gongdi").datagrid({
                singleSelect: true,
                async: false,
                collapsible: true,
                method: 'post',
                url: '/GongDiXinxis/Get_gongdis',
                toolbar: '#toolbar',
                rownumbers: true,
                pagination: true,
                fitcolumns: true,
                //nowrap: false,
                fit: true,                
                autoRowheight: false,
                queryParams: {
                    searchquery: '',
                    xm : xm
                    @*loingid: loingid*@                           
                },
                onLoadSuccess: function (data) {
                    //提交  plain:当True时显示一个普通效果
                    $('.tijiao').linkbutton({ plain: true });
                    $('.tijiao').addClass("c6");                    
                }
            });
            var p = $('#gongdi').datagrid('getPager');

            $(p).pagination({
                pageSize: 10,//每页显示的记录条数，默认为10

                pageList: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100],//可以设置每页记录条数的列表

                beforePageText: '第',//页数文本框前显示的汉字

                afterPageText: '页    共 {pages} 页',

                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            });            
        });

        //对textbox进行验证
        $.extend($.fn.textbox.defaults.rules, {
            positive_int: {
                validator: function (value, param) {
                    if (value) {
                        return /^[0-9]*[1-9][0-9]*$/.test(value);
                    } else {
                        return true;
                    }
                },
                message: '只能输入正整数.'
            },
            numeric: {
                validator: function (value, param) {
                    if (value) {
                        return /^[0-9]*(\.[0-9]+)?$/.test(value);
                    } else {
                        return true;
                    }
                },
                message: '只能输入数值.'
            }
        });

        function doSearch(value) {
            $('#gongdi').datagrid('load', { "searchquery": value, "loingid": loingid });
        };


        function newgongdi() {
            $('#dlg').dialog('open').dialog('setTitle', '新增地块信息');
            $('#fm').form('clear');
            url = '/GongDiXinxis/Save_gongdi?xm=@xm';
        };

        function editgongdi() {
            var row = $('#gongdi').datagrid('getSelected');
            if (row) {
                var id = row.id;
                $('#dlg').dialog('open').dialog('setTitle', '编辑地块信息');
                $('#fm').form('load', row);
                url = '/GongDiXinxis/Update_gongdi?id='+id;
            }
            else {
                $.messager.alert("错误提示", "请选择要编辑的行！", "warning");
            }
        };

        function savegongdi() {
            $('#save_btn').linkbutton({ disabled: true });   //这里是为解决一个连击问题
            $('#fm').form('submit', {
                url: url,
                onSubmit: function () {       
                    
                    return $(this).form('validate');
                },
                success: function (result) {
                    //result = $.parseJSON(result);

                    result = JSON.parse(result);   //IE浏览器在后台操作完成后返回提示信息，转化为json字符串格式,在删除的方法中，加了这个后不能自动reload  dategrid
                    
                    $('#dlg').dialog('close');		// close the dialog
                    $('#gongdi').datagrid('reload');	// reload the user data
                    if (result.success ) {
                        $.messager.show({
                            title: '提示',
                            msg: result.msg
                        });
                    }
                    else {
                        $.messager.show({
                            title: '提示',
                            msg: result.msg
                        })
                    }
                },
            });
            $('#save_btn').linkbutton({ disabled: false });   //释放连击被禁用的按钮
        };

        function delgongdi() {
            var row = $('#gongdi').datagrid('getSelected');
            if (row) {
                $.messager.confirm('提示', '您确定要删除这条记录吗？', function (r) {
                    if (r) {
                        $.post('/GongDiXinxis/Del_gongdi', { id: row.id }, function (result) {
                            if (result.success) {
                                $('#gongdi').datagrid('reload');	// reload the user data
                            } else {
                                result = JSON.parse(result);   //IE浏览器在后台操作完成后返回提示信息，转化为json字符串格式,在删除的方法中，加了这个后不能自动reload  dategrid

                                $.messager.show({	// show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        }, 'json');
                    };
                });
            }
            else {
                $.messager.alert("错误提示", "请选择要删除的行！", "warning");
            }
        };
        
    </script>

    <style type="text/css">
        #fm {
            margin: 0;
            padding: 10px 30px;
        }

        .ftitle {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .fitem {
            margin-bottom: 10px;
        }

            .fitem label {
                display: inline-block;
                width: 80px;
            }

            .fitem input {
                width: 160px;
            }
    </style>
}
