@{
    ViewData["Title"] = "工地项目";
}
<table id="xiangmu" class="easyui-datagrid" style="height:auto;width:100%">
    <thead>
        <tr>
            <th data-options="field:'id',align:'center',width:'5%'" hidden>id</th>

            <th data-options="field:'gongdimingcheng',align:'center',width:'20%'">项目名称</th>

            <th data-options="field:'weizhi',align:'center',width:'20%'">项目位置</th>

            <th data-options="field:'kaishishijian',align:'center',width:'20%'" formatter="formatDatebox">开始时间</th>

            <th data-options="field:'end_or',align:'center',width:'10%'" formatter="end_ornot">是否结算</th>

            <th data-options="field:'beizhu',align:'center',width:'28%'">备注</th>

        </tr>
    </thead>
</table>
<div id="toolbar" style="height: 32px; padding: 2px 5px; background:#ddd;">

    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="newxiangmu()">新 增</a>
    </div>
    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="editxiangmu()">编 辑</a>
    </div>
    <div style="float: left;">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="delxiangmu()">删 除</a>
    </div>
</div>


<div id="dlg" class="easyui-dialog" style="width:800px;height:340px;padding:10px 20px" data-options="closed:'true',buttons:'#dlg-buttons'">
    <form id="fm" method="post" novalidate>
        <div class="fitem" hidden>
            <label>id:</label>
            <input id="id" name="id" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>项目名称:</label>
            <input id="gongdimingcheng" name="gongdimingcheng" class="easyui-textbox" data-options="icons:[]" style="width:550px;height:30px" required>
        </div>
        <div class="fitem">
            <label>项目位置:</label>
            <input id="weizhi" name="weizhi" class="easyui-textbox" data-options="icons:[]" style="width:550px;height:30px" >
        </div>
        <div class="fitem" id="end_div">
            <label>是否结束:</label>            
            <span class="radioSpan" style="width:550px;height:30px">
                <input type="radio" id="end_or" name="end_or" value="true">已结算
                <input type="radio" id="end_or" name="end_or" value="false">未结算
            </span>
        </div>
        <div class="fitem">
            <label>开始时间:</label>
            <input id="kaishishijian" name="kaishishijian" class="easyui-datebox" data-options="icons:[]" style="width:550px;height:30px">
        </div>
        <div class="fitem">
            <label>备注:</label>
            <input id="beizhu" name="beizhu" class="easyui-textbox" data-options="icons:[],multiline:true" style="width:550px;height:30px">
        </div>
    </form>
</div>
<div id="dlg-buttons" style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconcls:'icon-ok'" id="save_btn" onclick="savexiangmu()" style="width:90px">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconcls:'icon-cancel'" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>


@section footer{
    <script type="text/javascript">
        var url;   @*loingid='@loingid',username='@username'*@
        $(function () {
            $("#xiangmu").datagrid({
                singleSelect: true,
                async: false,
                collapsible: true,
                method: 'post',
                url: '/GongDiXiangMu/Get_xiangmus',
                toolbar: '#toolbar',
                rownumbers: true,
                pagination: true,
                fitcolumns: true,
                //nowrap: false,
                fit: true,
                autoRowheight: false,
                queryParams: {
                    searchquery: '',
                    @*loingid: loingid*@
                },
                onLoadSuccess: function (data) {
                    //提交  plain:当True时显示一个普通效果
                    $('.tijiao').linkbutton({ plain: true });
                    $('.tijiao').addClass("c6");
                }
            });
            var p = $('#xiangmu').datagrid('getPager');

            $(p).pagination({
                pageSize: 10,//每页显示的记录条数，默认为10

                pageList: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100],//可以设置每页记录条数的列表

                beforePageText: '第',//页数文本框前显示的汉字

                afterPageText: '页    共 {pages} 页',

                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            });
        });

        @*截取显示部分时间*@
        function formatDatebox(value){           
            var time = value.substring(0,10);           
            return time;
        };

        @*项目是否判断是否结束，用于排序*@
        function end_ornot(value){
            if(value==false){
                return "项目进行中";
            }else{
                return "项目已结束"
            }
        };

        function doSearch(value) {
            $('#xiangmu').datagrid('load', { "searchquery": value, "loingid": loingid });
        };


        function newxiangmu() {
            $('#dlg').dialog('open').dialog('setTitle', '新增项目信息');
            $('#fm').form('clear');            

            @*在添加项目的时候，项目结算与否默认为  未结算，这里选择隐藏  结算与否的单选 按钮*@
            var t = document.getElementById('end_div');//选取id为test的div元素
            t.style.display = 'none';// 隐藏选择的元素

            url = '/GongDiXiangMu/Save_xiangmu';
        };

        function editxiangmu() {
            var row = $('#xiangmu').datagrid('getSelected');
            if (row) {
                var id = row.id;
                $('#dlg').dialog('open').dialog('setTitle', '编辑渣土车信息');
                $('#fm').form('load', row);

                @*在添加项目的时候，项目结算与否默认为  未结算，这里选择显示  结算与否的单选 按钮*@
                var t = document.getElementById('end_div');//选取id为test的div元素
                t.style.display = 'block';// 以块级样式显示

                url = '/GongDiXiangMu/Update_xiangmu?id='+id;
            }
            else {
                $.messager.alert("错误提示", "请选择要编辑的行！", "warning");
            }
        };

        function savexiangmu() {
            $('#save_btn').linkbutton({ disabled: true });   //这里是为解决一个连击问题
            $('#fm').form('submit', {
                url: url,
                onSubmit: function () {

                    return $(this).form('validate');
                },
                success: function (result) {
                    //result = $.parseJSON(result);

                    result = JSON.parse(result);   //IE浏览器在后台操作完成后返回提示信息，转化为json字符串格式,在删除的方法中，加了这个后不能自动reload  dategrid

                    $('#dlg').dialog('close');		// close the dialog
                    $('#xiangmu').datagrid('reload');	// reload the user data
                    if (result.success ) {
                        $.messager.show({
                            title: '提示',
                            msg: result.msg
                        });
                    }
                    else {
                        $.messager.show({
                            title: '提示',
                            msg: result.msg
                        })
                    }
                },
            });
            $('#save_btn').linkbutton({ disabled: false });   //释放连击被禁用的按钮
        };

        function delxiangmu() {
            var row = $('#xiangmu').datagrid('getSelected');
            if (row) {
                $.messager.confirm('提示', '您确定要删除这条记录吗？', function (r) {
                    if (r) {
                        $.post('/GongDiXiangMu/Del_xiangmu', { id: row.id }, function (result) {
                            if (result.success) {
                                $('#xiangmu').datagrid('reload');	// reload the user data
                            } else {
                                result = JSON.parse(result);   //IE浏览器在后台操作完成后返回提示信息，转化为json字符串格式,在删除的方法中，加了这个后不能自动reload  dategrid

                                $.messager.show({	// show error message
                                    title: 'Error',
                                    msg: result.errorMsg
                                });
                            }
                        }, 'json');
                    };
                });
            }
            else {
                $.messager.alert("错误提示", "请选择要删除的行！", "warning");
            }
        };

    </script>

    <style type="text/css">
        #fm {
            margin: 0;
            padding: 10px 30px;
        }

        .ftitle {
            font-size: 14px;
            font-weight: bold;
            padding: 5px 0;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
        }

        .fitem {
            margin-bottom: 10px;
        }

            .fitem label {
                display: inline-block;
                width: 80px;
            }

            .fitem input {
                width: 160px;
            }
            
            .radioSpan input {   @*设置 项目结算与否  单选按钮宽度*@
                width: 30px;   
            }
    </style>
}



