@model GongDiJiXie.Models.FeiYongJiLu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FeiYongJiLu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Feiyongduixiang" class="control-label"></label>
                <input asp-for="Feiyongduixiang" class="form-control" />
                <span asp-validation-for="Feiyongduixiang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feiyongleixing" class="control-label"></label>
                <input asp-for="Feiyongleixing" class="form-control" />
                <span asp-validation-for="Feiyongleixing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

